<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />
<p style="font-family: 'Inter-Regular';">
  <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet" />
</p>
<p style="font-family: 'Inter-Regular';"><span style="font-size: 9pt;"><span style="font-size: 10pt;"> <span
        style="color: #966e53; font-family: 'Inter-Regular';"
        data-darkreader-inline-color=""><strong>{{FullName}}</strong></span> </span><strong><br /></strong> <span
      style="font-size: 10pt;">{{if JobTitle}}{{JobTitle}}{{CustomAttribute1}}{{end}}</span> <br /><span
      style="font-size: 8pt;">{{if Department}}{{Department}}{{end}}</span><br /></span><br /><span
    style="font-size: 10pt;"> <span style="font-size: 10pt;">{{if Phone}}Direkt {{Phone}}{{end}} </span><br /><span
      style="font-size: 10pt;">{{if (string.contains City "Stockholm")}}Box 7043 | 103 86 {{City}}</span><br /><span
      style="font-size: 10pt;">Besök {{Street}}</span><br /><span style="font-size: 10pt;">{{else}} Besök
      {{Street}} | {{PostalCode}} {{City}}</span><br /><span style="font-size: 10pt;">{{end}}</span></span></p>
<p style="font-family: 'Inter-Regular';"><span style="font-size: 10pt;"><a style="color: #966e53;"
      href="mailto:{{Email}}" data-darkreader-inline-color="">{{Email}}</a> <br /><span
      style="color: #966e53; font-family: Inter-Regular;" data-darkreader-inline-color=""> <a style="color: #966e53;"
        href="http://www.novier.se" data-darkreader-inline-color="">www.novier.se</a> </span></span><span
    style="font-size: 8pt;"><strong style="color: #966e53;" data-darkreader-inline-color=""><br /></strong> </span></p>
<p style="margin-top: 0px; font-family: 'Inter-Regular';"><img
    src="https://images.eu.signature365.com/lqrn7ukpgl43cjw7/img_QaqNMPH9WxYFwnGc/v1.png" alt="" width="205"
    height="56" /></p>
<table style="border-collapse: collapse; width: 102.05680705190989%; height: 56px;" border="0">
  <tbody>
    <tr style="height: 56px;">
      <td style="width: 100%; height: 56px;">
        <p style="font-size: 8pt; color: #c9c3b8; font-family: 'Inter-Regular';" data-darkreader-inline-color="">
          IMPORTANT NOTICE <br />The information contained in this message is intended for the personal and confidential
          use of the designated recipients named above and may contain confidential and/or privileged material. <br />If
          the reader of this message is not the intended recipient or an agent responsible for delivering it to the
          intended recipient, you are hereby notified that you have received this document in error, and that any
          review, dissemination, distribution, or copying of this message is strictly prohibited. If you have received
          this communication in error, please notify the sender immediately and delete this e-mail from your system.</p>
      </td>
    </tr>
  </tbody>
</table>